<launch> 
  <include file="$(find squirrel_leg_detector)/launch/startup.launch" />
  <include file="$(find attention_tracker)/launch/startup.launch" />

  <node name="squirrel_attention_controller"
        pkg="squirrel_attention"
        type="attention_controller" 
        required="true" output="screen">
  </node>

  <node name="squirrel_attention_fusion"
        pkg="squirrel_attention"
        type="attention_fusion" 
        required="true" output="screen">
  </node>

</launch>
