<launch>
  <arg name="models_dir" value="$(find squirrel_object_perception)/data/models" />

  <arg name="hv_config_xml" default="$(find squirrel_recognition)/cfg/hv_config.xml" doc="Filename of Hypotheses Verification XML configuration file"  />
  <arg name="sift_config_xml" default="$(find squirrel_recognition)/cfg/sift_config.xml" doc="Filename of SIFT XML configuration file"/>
  <arg name="shot_config_xml" default="$(find squirrel_recognition)/cfg/shot_config.xml" doc="Filename of SHOT XML configuration file" />
  <arg name="esf_config_xml" default="$(find squirrel_recognition)/cfg/esf_config.xml" doc="Filename of ESF XML configuration file" />
  <arg name="alexnet_config_xml" default="$(find squirrel_recognition)/cfg/alexnet_config.xml" doc="Filename of Alexnet XML configuration file"/>
  <arg name="camera_xml" default="$(find squirrel_recognition)/cfg/camera.xml" doc="Filename of Camera Parameter XML configuration file"/>
  <arg name="arg" default="--do_shot 1  --hv_ignore_color 1 --knn_sift 3 -z 1.5 -r 0.1 --do_esf 1 -c 5 -g 0.02" doc="Additional arguments as stated in the library. For help arg:=-h. "/>
  
  <node pkg="squirrel_recognition" type="squirrel_recognizer" name="squirrel_recognizer" output="screen">
	<param name="models_dir" value="$(arg models_dir)" />
	<param name="hv_config_xml" value="$(arg hv_config_xml)" />
	<param name="sift_config_xml" value="$(arg sift_config_xml)" />
	<param name="shot_config_xml" value="$(arg shot_config_xml)" />
	<param name="esf_config_xml" value="$(arg esf_config_xml)" />
	<param name="alexnet_config_xml" value="$(arg alexnet_config_xml)" />
	<param name="camera_xml" value="$(arg camera_xml)" />
	<param name="arg" value="$(arg arg)" />
  </node>


  <!-- THE WIZARD FOR THE 3D RECOGNIZER -->
  <node pkg="squirrel_recognition" type="squirrel_recognizer_wizard" name="squirrel_recognizer_wizard" output="screen">
        <param name="models_dir" value="$(arg models_dir)" />
	<param name="mode" value="3d"/>
  </node>

  <!-- THE WIZARD FOR THE 2D RECOGNIZER -->
  <node pkg="squirrel_recognition" type="squirrel_recognizer_wizard" name="squirrel_recognizer_wizard2" output="screen">
        <param name="models_dir" value="$(arg models_dir)" />
	<param name="mode" value="2d"/>
  </node>

  <node pkg="squirrel_recognition" type="squirrel_recognizer2d" name="squirrel_recognizer2d" output="screen" respawn="true"
    args="--models_dir=$(arg models_dir) -c imk_all_models_nursery.bin -t 0.45" />

</launch>

