<launch>
  <arg name="recognizer_topic" default="/recognition_service/recognize"/>       <!-- "/squirrel_wizard_recognize"/--> 
  <arg name="recognizer2d_topic" default="/squirrel_wizard_recognize2d"/> <!--"/squirrel_recognize_objects_2d"/--> 

  <arg name="static_octomap_path" default="$(find squirrel_object_perception)/data/octomaps/default_octomap.bt"/> 
  
  <node name="squirrel_look_for_objects"
        pkg="squirrel_object_perception"
        type="squirrel_look_for_objects"
        required="true" output="screen">
	<param name="recognizer_topic" value="$(arg recognizer_topic)" />
  </node>

  <node name="squirrel_look_for_objects_in_hand"
        pkg="squirrel_object_perception"
        type="squirrel_look_for_objects_in_hand"
        required="true" output="screen">
	<param name="recognizer_topic" value="$(arg recognizer2d_topic)" />
  </node>

  <node name="squirrel_recognize_objects"
        pkg="squirrel_object_perception"
        type="squirrel_recognize_objects"
        required="true" output="screen">
	<param name="recognizer_topic" value="$(arg recognizer_topic)" />
  </node>


  <node name="squirrel_find_dynamic_objects"
        pkg="squirrel_object_perception"
        type="squirrel_find_dynamic_objects"
        required="true" output="screen">
	<param name="static_octomap_path" value="$(arg static_octomap_path)" />
  </node>

  <node name="squirrel_fuse_lumps_static_octomap"
        pkg="squirrel_object_perception"
        type="squirrel_fuse_lumps_static_octomap"
        required="true" output="screen">
	<param name="static_octomap_path" value="$(arg static_octomap_path)" />
  </node>

  <!-- node name="squirrel_haf_grasping"
        pkg="squirrel_object_perception"
        type="squirrel_grasp_object.py"
        required="true" output="screen">
	<param name="pan" type="double" value="0.0" />
	<param name="tilt" type="double" value="1.25" />
  </node -->

</launch>
