<launch> 
  <arg name="recognizer_topic" default="/squirrel_recognizer_wizard/squirrel_wizard_recognize"/> <!--"/squirrel_recognizer/squirrel_recognize_objects"/-->

  <node name="squirrel_look_for_objects"
        pkg="squirrel_object_perception"
        type="squirrel_look_for_objects"
        required="true" output="screen">
        <param name="recognizer_topic" value="$(arg recognizer_topic)" />
  </node>

  <node name="squirrel_look_for_objects_in_hand"
        pkg="squirrel_object_perception"
        type="squirrel_look_for_objects_in_hand"
        required="true" output="screen">
        <param name="recognizer_topic" value="$(arg recognizer_topic)" />
  </node>

<!--
  <node name="squirrel_haf_grasping"
        pkg="squirrel_object_perception"
        type="squirrel_grasp_object.py"
        required="true" output="screen">
	<param name="pan" type="double" value="-0.2" />
	<param name="tilt" type="double" value="1.3" />
  </node>
-->
</launch>
