<launch>

  <node pkg="attention_tracker" type="estimate_focus" name="estimate_focus" />

  <node pkg="attention_tracker" type="estimate" name="head_pose_estimation">
    <param name="face_model" value="$(find attention_tracker)/share/shape_predictor_68_face_landmarks.dat" />
    <remap from="/image" to="/kinect/rgb/image_raw"/>
  </node>

  <node pkg="attention_tracker" type="withmeness.py" name="withmeness">
      <param name="targets" value="$(find attention_tracker)/share/targets.json"/>
  </node>

</launch>
